@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 20px;
  }
  a {
    text-decoration: none;
  }
  .popup-container {
    background:#000000;
    width:100%;
    z-index: 100;
    height:100%;
    background: #000000;
    opacity: 0.8;
    position: fixed;
    top: 0;
  }
  .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 392px;
    min-width:250px;
    padding: 53px 30px;
    background: #ffffff;
    position: absolute;
    z-index: 15;
    top: 237px;
    left: 50%;
    transform: translate(-50%);
  }
  .popup::before {
    content:"";
    width: 19px;
    height: 19px;
    margin: 0 auto;
    position:absolute;
    top: -28px;
    right: 0;
    background-image: url(../svg/form-x.svg);
    background-size: 19px;
  }
  .popup .title {
    margin-bottom: 25px;
    font-size: 13px;
  }
  .select {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding-left: 18px;
    margin-bottom: 35px;
    background-color: #f4f7f6;
    outline: none;
    border: 1px solid #f4f7f6;
    font-size: 13px;
    color: #000000;
    opacity: 0.541;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 13px center;
    background-size: 16px;
  }
    select::-ms-expand {
    display: none;
  }
  .field-group {
    line-height: 1;
  }
    .field-label {
    font-size: 13px;
    color: #000000;
  
  }
    .radio {display:none;
     }
   .radio-group-text {
    font-size: 13px;
    margin-right:17px;
  }
  .radio-group-text:before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    background-image: url(../svg/form-empty-circle.svg);
  }
  .radio:checked + .radio-group-text::before{
    background-image: url(../svg/form-circle.svg);
  }
    .textarea {
    width: 100%;
    height: 133px;
    background: #f4f7f6;
    border: 1px solid #f4f7f6;
    outline: none;
    padding: 21px;
    font-size: 13px;
    margin-top: 11px;
    resize: none;
  }
  .popup .button {
    width: 100%;
    padding: 18px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-top: 24px;
  }
  .header {
    background: url(../images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    background-color: #000000;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 98px;
    min-height: 450px;
  }
  .header::after {
    content: "";
    opacity: 0.6;
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .container {
    max-width: 1200px;
    padding: 27px 15px;
    z-index: 1;
    margin: 0 auto;
    position: relative;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 186px;
  }
  .burger {
    display: none;
  }
  .nav__list {
    display: flex;
    color: #ffffff;
    list-style-type: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
  }
  .nav__item {
    margin-left: 35px;
  }
  .nav__link {
    text-decoration: none;
    color: #ffffff;
  }
  .banner {
    width: 77%;
    font-size: 2.2rem;
    line-height: 1.7;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin: 100px auto 0;
    white-space: normal;
  }
  .trend {
    width: 100%;
    margin: 0 auto 50px;
  }
  .title,
  .title__block {
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans", "arial";
  }
  .trend .title {
    padding-top: 58px;
    padding-bottom: 28px;
    text-align: center;
  }
  .title:after {
    content: "";
    display: block;
    opacity: 0.4;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin: 7px auto 0 auto;
  }
  .trend__container {
    display: flex;
    width: 100%;
    gap: 5px;
  }
  .trend__block {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc((100%-15px) / 4);
    height: 15rem;
    align-content: end;
    padding: 0 18px 16px 18px;
    background-color: #eff6f1;
    position: relative;
    background-size: cover;
    background-position: center;
  }
  .trend__block:first-child {
    background-image: url("../images/trend1.jpg");
  }
  .trend__block:nth-child(2) {
    background-image: url("../images/trend2.jpg");
  }
  .trend__block:nth-child(3) {
    background-image: url("../images/trend3.jpg");
  }
  .trend__block:nth-child(4) {
    background-image: url("../images/trend4.jpg");
  }
  .trend__block::after {
    content: "";
    opacity: 0.6;
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .trend__border {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #b59f5b;
    padding: 28px;
    z-index: 5;
  }
  .trend__link {
    text-align: left;
    color: #ffffff;
  }
  .mainaside {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 15px;
  }
  .main {
    max-width: 780px;
  }
  .news {
    display: flex;
    margin-bottom: 40px;
  }
  .news__img {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 32px;
  }
  .news__container {
    width: 100%;
    margin-bottom: 20px;
  }
  .news__header {
    margin-bottom: 45px;
    color: #0f0d0e;
  }
  .teg {
    display: flex;
    margin-bottom: 5px;
  }
  .teg__item {
    list-style-type: none;
    margin-right: 20px;
  }
  .teg__link {
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
  }
  .mainaside .title {
    margin-bottom: 25px;
  }
  .title__link {
    color: #0f0d0e;
    font-size: inherit;
  }
  .time {
    font-size: 12px;
    color: #888888;
    font-weight: 400;
    margin-right: 12px;
  }
  .author {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
  }
  .content {
    font-size: 15px;
    line-height: 1.5;
    color: #0f0d0e;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .content p {
    margin-bottom: 10px;
    font-size: inherit;
  }
  .sidebar {
    width: 272px;
  }
  .menu {
    margin-bottom: 55px;
  }
  .menu__title {
    margin-bottom: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-size: 14px;
  }
  .menu__title:after {
    content: "";
    display: block;
    width: 67px;
    height: 3px;
    background: #e2d9bd;
    margin: 9px auto 0 auto;
  }
  .menu__block {
    display: flex;
    margin-bottom: 17px;
  }
  .pic {
    width: 70px;
    margin-right: 20px;
    margin-top: 3px;
  }
  .menu__time {
    opacity: 0.541;
    font-size: 12px;
    color: #000000;
    font-weight: 400;
  }
  .menu__link {
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
  }
  .search {
    display: flex;
    align-items: center;
    margin-top: 62px;
  }
  .field {
    padding: 20px;
    width: 222px;
    height: 50px;
    background: #f3f7f5;
    border: none;
    color: #000000;
    border: 1px solid #f3f7f5;
    outline: none;
    font-size: 14px;
  }
  .field:focus {
    border: 1px solid #b59f5b;
  }
  .search__button {
    background-image: url("../images/search.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-color: #b8a465;
    border: none;
    cursor: pointer;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .letter {
    margin-bottom: 57px;
  }
  .mail__adress {
    width: 100%;
    background: #f3f7f5;
    border: 1px solid #f3f7f5;
    outline: none;
    height: 50px;
    padding: 20px;
    font-size: 14px;
  }
  .mail__adress:focus {
    border-color: #b59f5b;
  }
  .button {
    text-transform: uppercase;
    background: #b59f5b;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
  }
  .letter .button {
    margin-top: 17px;
    width: 100%;
    height: 50px;
    font-size: 14px;
  }
  .menu__teg__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
    margin-bottom: 43px;
  }
  .menu__teg__item {
    list-style-type: none;
    margin-left: 7px;
    margin-bottom: 17px;
  }
  .menu__teg__link {
    font-size: 12px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    padding: 4px 10px 4px 10px;
    border: 3px solid #ededed;
  }
  .menu__theme {
    padding-top: 2px;
  }
  .theme__item {
    list-style-type: none;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  .theme__item:after {
    content: "";
    display: block;
    width: 272px;
    height: 2px;
    background: #ededed;
    margin-top: 10px;
  }
  .theme__link {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
  }
  .theme__number {
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    vertical-align: top;
  }
  .shop {
    max-width: 1200px;
    margin: 0 auto;
  }
  .shop .title {
    margin: 0 auto 20px auto;
    text-align: center;
  }
  .shop__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .shop__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    flex-basis: calc((100%-50px) / 6);
    margin-bottom: 65px;
  }
  .shop-description {
    padding-bottom: 10px;
    flex-grow: 1;
    outline: 3px solid #b59f5b;
    outline-offset: 20px;
    margin-top: -10px;
    max-width: 301px;
  }
  .shop-description .title__block {
    padding-top: 25px;
  }
  .shop__img {
    object-fit: cover;
    object-position: center;
    max-width: 301px;
    height: auto;
  }
  .shop__content {
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
  }
  .shop__link {
    color: #b59f5b;
    font-size: inherit;
  }
  .shop__price {
    align-self: flex-start;
  }
  .shop__price__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex: 1 1 50%;
  }
  .shop__price__fact {
    font-size: 14px;
    line-height: 1.7;
    text-decoration: line-through;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
  }
  .shop__price__sale {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
  }
  .shop__price__fact:after {
    content: " \20BD";
  }
  .shop__price__sale:after {
    content: " \20BD";
  }
  .shop .button {
    height: 48px;
    padding: 0 27px;
  }
  .socials {
    margin: 0 auto;
    padding: 32px;
    max-width: 1200px;
    background: #f3f7f5;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }
  .socials__icon:first-child {
    margin-left: 45px;
  }
  .socials__icon {
    margin-right: 30px;
  }
  .socials__icon__link {
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: block;
  }
  .dribbble {
    background-image: url("../svg/001-dribbble.svg");
  }
  .pinterest {
    background-image: url("../svg/002-pinterest.svg");
  }
  .tumblr {
    background-image: url("../svg/003-tumblr.svg");
  }
  .copyright {
    margin-top: 67px;
    margin-bottom: 40px;
    text-align: center;
  }
  .copyright__link {
    font-size: 12px;
    color: #999999;
    font-weight: 700;
  }
  /*body:after{
    content:"";
    display:blok;
    width:1660px;
    height:3207px;
    background-image:url("https://github.com/netology-code/mq-diploma/blob/master/sources/NOEMI_mq_desktop.jpg?raw=true");
    position:absolute;
    top:0;
    left:calc(50%-830px);
    opacity:0.4;
    z-index:999;
    background:cover;
    background-repeat: no-repeat;
  }*/
    @media (max-width: 1200px) and (min-width:641px)  {
    html {
      font-size: 17px;
    }
    .header {
      background: url(../images/banner-bg-tablet.jpg);
    }
    .nav {
      display: none;
    }
    .burger {
      display: block;
    }
    .burger .line {
      width: 23px;
      height: 3px;
      background: #ffffff;
      margin-bottom: 5px;
    }
    .logo {
      width: 158px;
    }
    .trend .title {
      padding-top: 45px;
      padding-bottom: 20px;
    }
    .trend__container {
      flex-wrap: wrap;
      margin-bottom: 100px;
    }
    .trend__block {
      flex-basis: 45%;
    }
    .container,
    mainaside,
    .shop__container {
      padding: 0 35px;
    }
    .main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    .news {
      flex-grow: 1;
      flex-wrap: wrap;
      max-width:550px;
    }
    
    .mainaside {
      padding: 0 35px;
    }
    .news__container {
      border-bottom: 3px solid #eeeeee;
      margin-bottom: 20px;
      margin-right: 32px;
    }
    .sidebar {
      margin-left: 32px;
    }
    .shop__container {
      flex-wrap: wrap;
    }
    .shop__block {
      flex-basis: 44%;
      padding: 0 3%;
    }
    .socials {
      margin: 0 35px;
    }
  }
  @media (orientation: landscape) and ((max-width: 1200px) and (min-width:641px)) {
  
    .trend__block {
     width: calc((100%-15px) / 4);
    }
  }
  @media (max-width: 718px) {
    .shop__container {
      flex-direction: column;
    }
   }
  @media (max-width: 640px) {
      html {
        font-size: 16px;
      }
      .header {
        background: url(../images/banner-mobile.jpg);
        padding-bottom: 215px;
        background-size: cover;
      }
      .nav {
        display: none;
      }
      .burger {
        display: block;
      }
      .burger .line {
        width: 23px;
        height: 3px;
        background: #ffffff;
        margin-bottom: 5px;
      }
      .logo {
        width: 289px;
      }
      .logo__link {
        margin-top: 172px;
      }
       .trend__container {
      flex-wrap: wrap;
         margin: 0 auto 5px;
     }
         .trend__block {
      flex-basis: 100%;
    }
      .mainaside {
        padding: 0 15px;
        flex-direction: column;
      }
      .news {
        flex-direction: column;
      }
      .news {
        width: 100%;
      }
      .news__img {
        margin-right: 0;
      }
      .top {
        flex-direction: column-reverse;
      }
      .burger {
        align-self: flex-end;
        margin-top: 32px;
      }
      .banner {
        font-size: 26px;
        margin-top: 45px;
        width: 100%;
      }
      .main,
      .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .sidebar {
        margin: auto;
      }
      .popup {
        padding: 30px;
        top:60px;
      }
       .shop__container {
      flex-wrap: wrap;
        justify-content: center;
    }
    .shop__block {
      flex-basis: 44%;
      padding: 0 3%;
    }
    }
  
  
   @media (orientation: landscape) and (max-width: 640px) or (orientation: portrait) and ((max-width: 1200px) and (min-width:641px)) 
   {
      
     .trend__ {
            flex-wrap: wrap;
      }
    .trend__block {
     width: 45%;
    }
  }
    @media  (max-width: 640px) and (orientation: portrait) {
     .trend__container {
      flex-wrap: wrap;
     }
    .trend__block {
      width: 100%;
    }
  }
  